<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form to add new product</h1>
    <form action="/products" method="POST">
        <div>
            <label for="naam">Name:</label>
            <input type="text" name="name" id="naam">
        </div>
        <div>
            <label for="img">Image:</label> 
            <input type="text" name="img" id="img">
        </div>
        <div>
            <label for="paisa">Price:</label>
            <input type="text" name="price" id="paisa">
        </div>
        <div>
            <label for="dessc">Description:</label>
            <textarea rows="5" cols="15" name="desc" id="dessc"></textarea>
        </div>
    
        <button>Add Product</button>
    </form>
</body>
</html>